h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
}
input {
  width: 100%;
  padding: 6px 4px;
  border-radius: 5px;
}

.items-container {
  text-align: left;
}

.ez-button {
  min-width: 80px;
}

.ez-row {
  margin: 10px 5px;
}